.bg-lightgreen {
  background-color: #f3fde8;
}

.title {
  color: var(--Color, #4d3117);
  text-align: center;
  align-self: center;
  margin-left: 13px;
  font: 400 48px Darling Coffee, sans-serif;
}

.programme-container p {
  line-height: 24px;
  align-self: stretch;
  margin-top: 30px;
}

.programme-container h2 {
  text-align: center;
  font: 400 24px Darling Coffee, sans-serif;
}

.programme-container {
  color: rgba(77, 49, 23, 1);
}

.img-container {
  border-radius: 37px;
  background-color: rgba(255, 229, 229, 1);
}

.img-description {
  color: var(--Color, #4d3117);
  text-align: center;
  margin-top: 36px;
  width: 50%;
  font: 500 16px/24px Inter, sans-serif;
}

@media (max-width: 1000px) {
  .programme-container {
    flex-wrap: wrap-reverse;
    gap: 30px;
  }
  .img-container {
    flex-direction: column;
  }
  .programme-container img,
  .img-container img {
    height: auto;
    max-width: 100%;
  }
  .btn-container div {
    justify-content: center;
  }
}

button{
  all: unset;
display: flex;
flex-direction: column;
margin-top: 20px;
background-color: rgba(255, 191, 191, 1);
border-radius: 30px;
align-self: end;
white-space: nowrap;
justify-content: center;
padding: 22px 64px;
font: 700 20px Inter, sans-serif;
}

.button1:hover{
    background-color:#A8DF8E ;
}


